[Unit]
Description=Run git sync every 2 minutes
Requires=git-sync.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Unit=git-sync.service

[Install]
WantedBy=timers.target